<%= form_for(@replay) do |f| %>
  <% if @replay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@replay.errors.count, "error") %> prohibited this replay from being saved:</h2>

      <ul>
      <% @replay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dire %><br />
    <%= f.text_field :dire %>
  </div>
  <div class="field">
    <%= f.label :radiant %><br />
    <%= f.text_field :radiant %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.date_select :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
