<h1>Listing replays</h1>
<% if @replays.size == 0 %>
<em>No replays found</em>

<% else %>
<table>
  <tr>
    <th>Dire</th>
    <th>Radiant</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @replays.each do |replay| %>
  <tr>
    <td><%= replay.dire %></td>
    <td><%= replay.radiant %></td>
    <td><%= replay.time %></td>
    <td><%= link_to 'Show', replay %></td>
    <td><%= link_to 'Edit', edit_replay_path(replay) %></td>
    <td><%= link_to 'Destroy', replay, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<% end %>
<br />

<%= link_to 'New Replay', new_replay_path %>
