
<br>
<center>
	
<h2>Prvi online rječnik sinonima hrvatskog jezika.</h2>
(no, to nije jedino po čemu je <%= link_to 'poseban', info_path %>)

<br><br><br>

<%= form_tag("/rex", :method => "post") do %>
  <%= text_field_tag(:inp) %>
  <%= submit_tag("Traži", :id => "btn") %>
<% end %>

<br><br>

</center>


<div class="results">

<% unless @max == 0 or @max.nil? %>

<% currword = params[:inp].mb_chars.capitalize.gsub('+', '/').gsub('_', ' ') %>

<h1><%= currword %></h1>


	<% content_for :title, currword + ' - tezaurus' %>
	<% i = 1 %>
	<div class="tabsmenu">
		<ul class="tabs">
			<% (i..@max).each do |i| %>
				<% if @ostalo == 1 %>
				<% x = ((i + 1) % (@max + 1)) %>
				<% else %>
				<% x = i + 1 %>
				<% end %>
				<% if x == 0 %>
				<% x = 1 %>
				<% end %>
				<% unless @rezultat[x].empty? %>
				<% if x == 1 %>
					<li><a href="#">Rexovi prijedlozi <%= image_tag('minirex.png') %></a></li>
				<% else %>
					<li><a href="#">Kontekst #<%= x - 1 %></a></li>
				<% end %>
				<% end %>
			<% end %> 
		</ul>
	</div>
	<div class="panes">
	<% i = 1 %>
	<% (i..@max).each do |i| %>
	<% if @ostalo == 1 %>
	<% x = ((i + 1) % (@max + 1)) %>
	<% else %>
	<% x = i + 1 %>
	<% end %>
	<% if x == 0 %>
	<% x = 1 %>
	<% end %>
	<% unless @rezultat[x].empty? %>
	<% @rezultat[x].each do |rez| %>
		
			<div>
				<% rez.each do |rijec| %>
					<h4>
					<%= link_to rijec.link.word, "/rex/" + rijec.link.word.gsub(' ', '_').gsub('/', '+') %>
					</h4>
					<% if can? :update, rijec %>
						<%= link_to 'Uredi riječ', term_path(rijec.link) %> *** 
						<%= link_to 'Briši vezu', rijec, confirm: 'Sigurno?', method: :delete %>
					<% end %> 
				<% end %>
				<br/><br/>
			</div>
			
			<% end %>
	<% end %>
	<% end %>
	</div>
	<% if can? :manage, :all %>
	<%= @count %>
	<b>Vrijeme izvedbe:</b> <%= Time.now - @b %>
	<% end %>
<% end %>


<% if @max == 0 and @searched == 1 %>

	<center><h1>:(</h1>Rexu je jako žao, ali traženu riječ ne prepoznaje.</center>

<% end %>

</div>
