<div class="row">
	<br><br>
</div>

<div class="row">
	
<%= form_tag("/rex", :method => "post") do %>
  <div class="small-3 columns"><%= text_field_tag(:inp) %></div>
  <div class="small-8 columns"><%= submit_tag("Traži", :id => "namanyay-search-btn") %></div>
<% end %>

</div>

<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel2-1">Tab 1</a></dd>
  <dd><a href="#panel2-2">Tab 2</a></dd>
  <dd><a href="#panel2-3">Tab 3</a></dd>
  <dd><a href="#panel2-4">Tab 4</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel2-1">
    <p>First panel content goes here...</p>
  </div>
  <div class="content" id="panel2-2">
    <p>Second panel content goes here...</p>
  </div>
  <div class="content" id="panel2-3">
    <p>Third panel content goes here...</p>
  </div>
  <div class="content" id="panel2-4">
    <p>Fourth panel content goes here...</p>
  </div>
</div>


<% unless @rezultat.nil? %>
	<% @rezultat.each do |rez| %>
		<% if rez.is_a?(Integer) %>
			<%= rez %>
		<% else %>
			<% unless rez.empty? %>
				<% rez.each do |rijec| %>
					<%= link_to rijec.link.word, "/rex/" + rijec.link.word.gsub(' ', '_').gsub('/', '+') %>
					<% if can? :update, rijec %>
						<%= link_to 'Uredi riječ', term_path(rijec.link) %> *** 
						<%= link_to 'Briši vezu', rijec, confirm: 'Sigurno?', method: :delete %>
					<% end %> 
					<br/>
				<% end %>
				<br/><br/>
			<% end %>
			
		<% end %>
	<% end %>
	<% if can? :manage, :all %>
	<%= @count %>
	<b>Vrijeme izvedbe:</b> <%= Time.now - @b %>
	<% end %>
<% end %>

